@import url('https://fonts.googleapis.com/css?family=Inconsolata');

.number{
    font-family: 'Inconsolata';
    font-weight: bold;
    font-size: 250pt;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.paddingTableCell {
    padding: 20px;
}

.marginTableCell {
    margin : 5px;
}

.card {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
}

.cardContainer {
    margin : 10px;
}

.numberFont {
    font-size: 200px;
    color: blue  ;
    font-family: monospace;
}

.descriptionFont {
    font-size: 30px;
}

td {
    padding : 0 !important;
    font-weight: bolder;
}

.roundButton {
    border-radius: 50%;
}

.odometer {
    font-size: 240px;
}

#columnName{
    float: left;
    margin-left: -130px;
    font-family: monospace;
    font-size: smaller;
}

.previousNumber {
    color: red;
}

.numbersList{
    font-size: 40px;
}

.ticketBorder{
    border: 5px solid red;
}

.table-bordered td{
    border: 1px solid black; 
}

.table-bordered th{
    background-color:lightblue;
    border: 1px solid black;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 20px;
}

.ticketId{
    text-align: center;
    color:red;
    font-size: small;
}

.marginBottom{
    margin-bottom: 20px;
}

.marginCard{
    margin: 20px;
}

.marginDescription{
    margin-top: -30px;
}

button:disabled {
    cursor: not-allowed;
    pointer-events: all !important;
}

.numberBefore{
    color: lightgray;
    opacity: 20%;
}

.columnIndex {
    margin: 5px;
    font-size: 300%;
}

.centerAlign{
    align-self: center;
}

.numberOrder{
    font-size: xx-large;
}

.margin10{
    margin: 10px;
}

.margin5{
    margin: 5px;
}

.font-medium{
    font-size: medium;
}

.wordWrap{
    word-wrap: break-word;
    font-size: xx-small;
}