body{
    background-color: #f8f9fa!important;
}

.paddingTableCell {
    padding: 20px;
}

.marginTableCell {
    margin : 5px;
}

.card {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
}

.cardContainer {
    margin : 10px;
}

.numberFont {
    font-size: 200px;
    color: blue  ;
    font-family: monospace;
}

.descriptionFont {
    font-size: 30px;
}

td {
    padding : 0 !important;
    font-weight: bolder;
}

.roundButton {
    border-radius: 50%;
}

.odometer {
    font-size: 150px;
}

.previousNumber {
    color: red;
}

.numbersList{
    font-size: 30px;
}

.ticketBorder{
    border: 5px solid red;
}

.table-bordered td {
    border: 1px solid black; 
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 20px;
}

.ticketId{
    text-align: center;
    color:red;
    font-size: small;
}

.marginBottom{
    margin-bottom: 20px;
}

.marginCard{
    margin: 20px;
}

button:disabled {
    cursor: not-allowed;
    pointer-events: all !important;
}